/* PC */
@media (max-width: 1870px) {
  .main__container {
    width: 97%;
  }
  .footer__container {
    width: 90%;
  }
  /* Freshproduct */
  .left-box {
    width: 80%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1400px) {
  .mission__item {
    min-width: 150px;
    min-height: 150px;
    gap: 5px;
    font-size: 14px;
    padding: 10px;
  }
  /* Freshproduct */
  .left-box {
    width: 80%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  /* Product */
  .prodcut__items {
    max-width: 100%;
    height: 300px;
  }
}
/* Tablet */
@media (max-width: 1023px) {
  #header {
    min-height: 55vh;
  }
  .nav__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Banner */
  .banner-btn {
    justify-content: center;
  }
  .banner {
    padding-top: 120px;
    text-align: center;
    height: auto;
  }
  .banner-container {
    margin: 50px auto;
  }
  /* Main */
  .main {
    padding-top: 3rem;
  }
  /* Inspiration */
  .inspiration {
    flex-direction: column-reverse;
    margin-left: 10px;
  }
  .inspiration__content {
    text-align: center;
  }
  .inspiration__content h1 {
    font-size: 28px;
    margin-top: 0.5rem;
  }
  .inspiration__content span {
    justify-content: center;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .inspiration__content p {
    font-size: 12px;
    margin-top: 0.5rem;
    padding: 0;
  }
  .inspiration__images {
    width: 65%;
  }
  .inspiration__checklist {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn cả khối vào giữa */
    width: 100%;
    margin-bottom: 2rem;
  }

  .inspiration__checklist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    max-width: 300px;
    width: 100%;
    margin-top: 5px;
  }

  .inspiration__checklist-item svg {
    margin-right: 8px;
    flex-shrink: 0;
  }
  /* Mission */
  .mission {
    margin-top: 3rem;
  }
  .mission__content h1 {
    font-size: 28px;
    margin-bottom: 0.5rem;
  }
  .mission__content p {
    font-size: 12px;
  }
  .mission__content span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .mission__item:not(:last-child)::after {
    display: none;
  }
  .mission__block {
    flex-wrap: wrap;
    gap: 20px;
  }

  .mission__item {
    min-width: 150px;
    min-height: 150px;
    gap: 5px;
    font-size: 14px;
    padding: 10px;
  }
  /* Vision */
  .vision {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .vision__content {
    text-align: center;
  }
  .vision__content p {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  .vision__content h1 {
    font-size: 24px;
  }
  .vision__content span {
    justify-content: center;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .vision__video img {
    min-width: 80%;
  }

  /* Offer */
  .offer__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .offer__title h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  .offer__title p {
    font-size: 12px;
  }
  .offer__content {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
  }
  .offer__content h2 {
    font-size: 24px;
  }
  .offer__content p {
    font-size: 12px;
  }
  /* Product */
  .product {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
  }

  .product__title span {
    justify-content: center;
  }

  .product__title {
    text-align: center;
    height: 35vh;
  }
  .product__title h1 {
    width: 100%;
    font-size: 24px;
  }
  .product__title span {
    width: 100%;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .product__title p {
    width: 100%;
    font-size: 12px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .product__title button {
    justify-content: center;
  }
  .product__items {
    margin-top: -0.5rem;
    max-width: 100%;
    height: 300px;
  }

  /* Testimonials */
  .testi__title {
    text-align: center;
  }
  .testi__title h1 {
    font-size: 24px;
  }
  .testi__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .testi-card {
    margin: 10px;
  }

  /* Freshproduct */
  .freshproduct span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .fresh__container {
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .right-box > span {
    font-size: 20px;
  }

  .right-box > p {
    font-size: 12px;
  }
  .right-box > h2 {
    font-size: 24px;
  }
  .experience h2 {
    font-size: 20px;
  }
  .experience p {
    font-size: 12px;
  }
  .fresh__container {
    flex-direction: column-reverse;
  }
  .left-box {
    width: 100%;
    height: 200px;
  }
  .right-box {
    width: 100%;
    height: 377px;
    margin: 10px;
  }
  .left-box {
    width: 100%; /* Cho full chiều ngang */
    height: 300px; /* Giảm chiều cao */
    background-size: cover;
    background-position: center;
  }

  .experience {
    bottom: -20px;
    left: 20px;
    padding: 20px 30px;
  }
  .experience h2 {
    font-size: 28px;
  }

  .experience p {
    font-size: 12px;
  }
  /* Discover */
  .discover {
    margin-top: 4rem;
    height: 400px;
  }
  .discover__content h1 {
    font-size: 24px;
  }
  .discover__content p {
    font-size: 12px;
    line-height: 1;
    margin: 1rem auto;
  }
  .discover__content button a {
    font-size: 18px;
  }
  .discover__content {
    width: 90%;
  }
  /* Blog */
  .blog {
    padding-top: 1rem;
  }
  .blog__title {
    padding: 0;
  }
  .blog__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__title span {
    font-size: 20px;
    padding-top: 0;
  }
  .blog__title h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .blog__title p {
    font-size: 12px;
    margin-top: 0.5rem;
  }

  /* Contact */
  .contactus__container {
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }
  .contactus__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .contactus__title h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .contactus__left p {
    font-size: 12px;
    text-align: center;
  }
  .contactus__right {
    margin: 10px;
  }
  .check-list {
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
  }
  .check-list li {
    margin: 8px;
    text-align: left;
  }
  .decorative-wrapper {
    margin: 50px auto;
    width: 400px;
  }
  .img-box img2 {
    width: 50%;
  }

  /* Footer */
  .footer__container {
    width: 90%;
  }
  .footer__logo {
    font-size: 2rem;
  }
  .footer__social-icon {
    margin-right: -1rem;
  }
}
/* Mobile */
@media (max-width: 767px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
  }
  /* Navigation */
  #header {
    min-height: 60vh;
  }
  .nav__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 92px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    text-align: center;
    gap: 20px;
  }

  .nav__list.active {
    display: flex;
  }

  .line__menu {
    display: block;
    cursor: pointer;
  }

  .line__list {
    position: relative;
    width: 30px;
    height: 22px;
  }

  .line__list span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--text-white);
    border-radius: 2px;
    transition: 0.3s;
  }
  .line__list span:nth-child(1) {
    top: 0;
  }
  .line__list span:nth-child(2) {
    top: 8px;
  }
  .line__list span:nth-child(3) {
    top: 16px;
  }

  /* Banner */
  .banner {
    padding-top: 100px;
    text-align: center;
    height: auto;
  }

  /* Main  */
  .main__container {
    padding-top: 3rem;
  }
  /* Inspiration */
  .inspiration {
    flex-direction: column-reverse;
    margin-left: 10px;
  }
  .inspiration__content h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0.5rem;
  }
  .inspiration__content span {
    justify-content: center;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .inspiration__content p {
    font-size: 12px;
    margin: 0.5rem auto;
    padding-top: 0;
    padding-bottom: 0.5rem;
  }
  .inspiration__images {
    display: none;
  }
  .inspiration__checklist {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn cả khối vào giữa */
    width: 100%;
    margin-bottom: 2rem;
  }

  .inspiration__checklist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    max-width: 300px;
    width: 100%;
    margin-top: 5px;
  }

  .inspiration__checklist-item svg {
    margin-right: 8px;
    flex-shrink: 0;
  }

  /* Mission */
  .mission {
    margin-top: 3rem;
  }
  .mission__content h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .mission__content p {
    font-size: 12px;
    margin: 0.5rem auto;
    padding-top: 0;
  }
  .mission__content span {
    font-size: 20px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .mission__block {
    flex-direction: column;
    align-items: center;
  }
  .mission__item:not(:last-child)::after {
    display: none;
  }

  /* Vision */
  .vision {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin: 0;
    gap: 1rem;
  }
  .vision__content {
    text-align: center;
  }
  .vision__content p {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin: 1rem;
  }
  .vision__content h1 {
    margin-top: 1rem;
    font-size: 24px;
    line-height: 1;
  }
  .vision__content span {
    justify-content: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1;
  }
  .vision__video img {
    max-width: 100%;
    max-height: 200px;
  }
  .vision__video svg {
    max-width: 100%;
    max-height: 80px;
  }

  /* Offer */
  .offer {
    margin-top: 3rem;
  }
  .offer__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .offer__title h1 {
    font-size: 24px;
    margin: 0;
  }
  .offer__title p {
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .offer__content {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
  }
  .offer__content h2 {
    font-size: 24px;
  }
  .offer__content p {
    font-size: 12px;
  }
  /* Product */
  .product {
    grid-template-columns: repeat(1, 1fr);
  }

  .product__title span {
    justify-content: center;
    margin-top: 0.5rem;
    line-height: 1;
    letter-spacing: 0.5px;
  }

  .product__title {
    text-align: center;
    height: 30vh;
  }
  .product__title h1 {
    width: 100%;
    font-size: 24px;
    margin: 0;
  }
  .product__title span {
    width: 100%;
    font-size: 20px;
  }
  .product__title p {
    width: 100%;
    font-size: 12px;
    margin: 0.5rem auto;
  }

  .product__title button {
    justify-content: center;
    margin-top: 0.5rem;
  }
  .product__items {
    max-width: 100%;
    height: 300px;
  }

  /* Testimonials */
  .testimonials {
    margin-top: 3rem;
    padding-bottom: 1rem;
  }
  .testi__title {
    text-align: center;
  }
  .testi__title h1 {
    font-size: 24px;
  }
  .testi__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .testi-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
  }

  .testi-card {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }

  .testi-grid::-webkit-scrollbar {
    display: none;
  }
  .arrows {
    display: none;
  }
  .testi-controls {
    display: none;
  }

  /* Freshproduct */
  .freshproduct {
    margin-top: -1rem;
    padding: 1rem;
  }
  .freshproduct span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .fresh__container {
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .right-box > span {
    font-size: 20px;
  }

  .right-box > p {
    font-size: 12px;
  }
  .right-box > h2 {
    font-size: 24px;
  }
  .experience h2 {
    font-size: 20px;
  }
  .experience p {
    font-size: 12px;
  }
  .fresh__container {
    flex-direction: column-reverse;
  }
  .left-box {
    width: 100%;
    height: 200px;
  }
  .right-box {
    width: 100%;
    margin: 10px;
  }
  .left-box {
    height: 250px;
  }

  .experience {
    bottom: -10px;
    left: 10px;
    padding: 15px 20px;
  }
  .experience h2 {
    font-size: 24px;
  }

  .experience p {
    font-size: 11px;
  }
  /* Discover */
  .discover {
    margin-top: 3rem;
    height: 450px;
  }
  .discover img {
    display: none;
  }
  .discover__content h1 {
    font-size: 24px;
  }
  .discover__content p {
    font-size: 12px;
  }
  .discover__content button a {
    font-size: 18px;
  }
  .discover__content {
    width: 90%;
  }
  /* Blog */
  .blog__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
  .blog__title h1 {
    font-size: 24px;
  }
  .blog__title p {
    font-size: 12px;
  }

  /* Contact */
  .contactus__container {
    flex-direction: column;
    margin: 10px;
    align-items: center;
    gap: 0;
  }
  .contactus__title {
    padding: 0;
  }
  .contactus__title span {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.5px;
  }
  .contactus__title h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .contactus__left p {
    font-size: 12px;
    text-align: center;
    margin: 0.5rem;
  }
  .contactus__right {
    margin: 10px;
  }
  .check-list {
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
  }
  .check-list li {
    margin: 8px;
    text-align: left;
  }
  .decorative-wrapper {
    margin: 50px auto;
    width: 400px;
  }
  .img2 {
    width: 270px;
  }
  .img1 {
    width: 220px;
    left: 35px;
  }

  /* Footer */
  footer {
    height: auto;
    padding: 2rem 1rem;
  }

  .footer__container {
    position: static;
    transform: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  /* Logo */
  .footer__logo {
    display: flex;
    justify-content: center;
  }

  .footer__logo img {
    max-width: 180px;
    height: auto;
  }

  .footer__items p {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  /* Contact (Phone, Email, Address) */
  .footer__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    text-align: center;
  }

  .footer__items li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }

  .footer__items li i {
    font-size: 1.2rem;
    color: var(--color-main);
  }

  /* Links */
  .footer__links h3,
  .footer__posts h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer__links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .footer__links ul li a {
    text-decoration: none;
    color: var(--text-white);
  }

  /* Recent Post */
  .footer__posts-items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }

  .footer__posts-items img {
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    gap: 0.5rem;
  }

  .footer__postItem-content {
    text-align: center;
    width: 200px;
  }

  /* Social + Contact */
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .footer__social-icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
  }

  /* Icon góc thu nhỏ */
  .footer__icon1,
  .footer__icon2 {
    width: 60px;
    height: auto;
    opacity: 0.6;
  }

  .footer__icon1 {
    bottom: 0;
    left: 0;
  }

  .footer__icon2 {
    top: 0;
    right: 0;
  }
}
