*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color:rgba(197, 195, 195, 0.8);
    min-height: 100px;
}
.nav__container
{
    padding: 48px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.nav__list
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}